.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding-bottom: 5rem;
}

.wrapper h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #114232;
    margin-bottom: 1rem;
}

.team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 90%;
}

.team span {
    margin: auto;
}

.team span img {
    width: 320px;
    height: 300px;
}

.team .member {
    text-align: center;
    background-color: #f8f7c0;
    width: fit-content;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
}

.team .member h3 {
    font-weight: 600;
    margin-top: 1rem;
    color: #114232;
}

.team .member p {
    font-size: 1rem;
    font-weight: 500;
    color: grey;
}

@media (max-width: 770px) {
    .team {
        grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
        width: 100%;
    }

    .team span img {
        width: 305px;
        height: 300px;
    }
}

@media (max-width: 600px) {
    .wrapper h1 {
        font-size: 2.3rem;
    }

    .team {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        width: 100%;
    }

    .team span img {
        width: 320px;
        height: 300px;
    }
}