.wrapper {
    background-color: #114232;
    padding: 5rem 80px 3rem 80px;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

.footer-sec1 {
    padding: 0 2rem 1rem 0;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    color: #f5f4a7;
}

.footer-sec1 p {
    color: #f5f4a7;
    font-size: .95rem;
}

.social {
    display: flex;
    margin-top: 1rem;
}

.social .icon {
    background-color: #f5f4a7;
    margin-right: 10px;
    padding: 5px;
    border-radius: 3px;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.social .icon:hover {
    transform: translateY(-3px);
}

.footer-contact {
    padding: 0 3rem 1rem 0;
    color: #f5f4a7;
}

.footer-contact h1 {
    color: #f5f4a7;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: .7rem;
}

.footer-contact p {
    font-size: .95rem;
    padding: .5rem 0;
}

.working-hour {
    color: #f5f4a7;
    margin-bottom: 1rem;
}

.working-hour h1 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: .7rem;
}

.working-hour p {
    font-size: .85rem;
}

.working-hour span {
    font-size: .95rem;
}

.spans {
    line-height: 1.8rem;
}

.copyright {
    color: #f5f4a7;
}

@media (max-width: 600px) {
    .wrapper {
        padding: 5rem 20px 3rem 20px;
        width: fit-content;
    }

    .working-hour {
        padding-right: 20px;
    }

    .hr {
        width: 90%;
    }

    .copyright {
        padding-right: 20px;
    }
}